<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>
<body>
    
    {{> header}}
    
    <h3>This is where you can find my contact info</h3> 
    
    <p>
        Some useless text for testing purpose
    </p>

    {{> footer}} 
</body>
</html>